.photo-grid {
    margin: 5vh 3vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 94vw;
    min-height: 50vh;
}

.img-wrapper {
    background-color: rgb(229, 161, 215);
    outline: 5px solid rgb(198, 140, 186); 
    margin: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
}

.img-wrapper img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px
}