.card-imgs img {
    height: 50vh;
}

.cats-grid {
    display: flex;
    gap: 5vw;
}

h2 {
    animation: fadeInUp 1s ease-out;
    font-size: 2.5rem;
    text-shadow: 1.5px 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 2vh;
}

.hero p {
    line-height: 2 !important;
}

.section {
    padding: 0 !important;
}

#scrollBtn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 40px;
    font-size: 28px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: rgba(29, 7, 47, 0.772);
    display: none;
    /* Hidden by default */
    z-index: 9999;
}

#scrollBtn img {
    width: 40px;
    height: 40px;
    transform: translate(0px, 4px);
    z-index: 9999;
}

.kittens-grid 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0 10vw;
    gap: 2rem;
}

.unavailable {
    background: #8a8080;
}



.double-cat > * {
    text-align: center;
}

.double-cat-seperator {
    height: 90%;
    width: 3px;
    background-color: rgba(78 77 77 / 20%);;
    align-self: center;
    justify-self: center;
}

.banner-sold-cat { opacity: 0.85;}
.banner-sold-cat:hover { opacity: 0.95;}
.sold-cat { opacity: 0.6; }
.sold-cat:hover { opacity: 0.9; }

.update-banner {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background: linear-gradient(135deg, #8e549d 0%, #b582b5 50%, #d1a6d9 100%);
}

.update-banner > * {
    font-family: "Outfit", sans-serif;
    font-size: 1.5vw;
    margin: 0;
}

@media (max-width: 1500px) {
    .update-banner > * {
        font-size: 20px;
    }
}

@media (max-width: 670px) {
    .update-banner > * {
        font-size: 2.8vw;
    }
}

@media (max-width: 550px) {
    .update-banner {
        height: 10rem;
    }

    .update-banner > * {
        text-align: center;
        padding: 2rem;
        font-size: 5vw;
    }
}

@media (max-width: 660px) {
    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 532px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 397px) {
    h2 {
        text-align: center;
    }
}

@media (max-width: 304px) {
    .hero-cats-container {
        margin-bottom: 2rem !important;
    }

}

@media (max-width: 1150px) {
    .kittens-grid 
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .kittens-grid 
    {
        grid-template-columns: repeat(1, 1fr);
    }
}