.card-imgs img{
    height: 50vh;
}

.cats-grid {
    display: flex;
    gap: 5vw;
}

h2 {
    animation: fadeInUp 1s ease-out;
    font-size: 2.5rem;
    text-shadow: 1.5px 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 2vh;
}

.hero p {
    line-height: 2 !important;
}

.section {
    padding: 0 !important;
}